<!DOCTYPE html>
<html lang="en">
<head>x
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form class="login-form" action="/login" method="post">
            <input type="text" placeholder="Unique MID" name="username"/>
            <input type="password" placeholder="Password" name="password"/>
            <button type="submit">login</button>
        </form>
</body>
</html>